{#
We want to extend the default template instead of defining everything ourselves.
#}
{% extends "default/module.html.jinja2" %}

{% set custom_order = ["snapshot_data", "trial_space", "trial_space_utils", "workflows", "hyper_reduction"] %}
{% block nav_submodules %}
    {% if module.submodules %}
        <h2>Submodules</h2>
        <ul>
            {% for submodule_name in custom_order %}
                {% set submodule = module.submodules | selectattr("name", "eq", submodule_name) | list %}
                {% if submodule %}
                    <li>{{ submodule[0].taken_from | link(text=submodule_name) if is_public(submodule[0]) | trim }}</li>
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}

{% block edit_button %}
    {% set edit_text = "GitHub" %}
    <a class="pdoc-button git-button" href="https://github.com/Pressio/rom-tools-and-workflows">{{ edit_text }}</a>
{% endblock %}
